@using OneOfAKindSupreme.Frontend.Core.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Console.Write(ViewData);
    var projects = ViewData["projects"] as List<ProjectViewModel> ?? new List<ProjectViewModel>();
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Projects</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">Projects</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                foreach (var project in projects)
                                {
                                    <tr>
                                        <td>@project.Name</td>
                                        <td>@project.Status</td>
                                    </tr>
                                }
                            }                           
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                <a class="btn btn-primary" asp-area="" asp-controller="Projects" asp-action="Add">Add Project</a>
            </div>
        </div>
    </main>
</div>